<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div id="header" class = "flex">
            <h1>Welcome {{user.first_name}}</h1>
            <div id = "nav" class = "flex">
                <a href="/create">Create</a>
                <a href="/logout"><button type="submit">Logout</button></a>
            </div>
        </div>
        <p>These are the recipes</p>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Over 30 mins?</th>
                    <th>Actions</th>
                </tr>
                {%for recipe in recipes%}
                <tr>
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.under_thirty}}</td>
                    <td>
                        {%if recipe.user_id != session.user_id%}
                        <a href="/recipe/view/{{recipe.id}}">View instructions</a> | <a href="/recipe/edit/{{recipe.id}}">Edit</a> | <a href="/recipe/delete/{{recipe.id}}">Delete</a>
                        {%endif%}
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</body>
</html>